body {
    min-height: 100vh;
}

.icon-message {
    margin: 40px 0px 0px 0px;
    width: 75px;
    height: 75px;
    background-size: cover;
}

.card{
    width: 500px;
    border: 2px solid #000;
    border-radius: 25px;
}

.button {
    display: block;
    width: 100%;
    background-color: var(--color-1);
    border-radius: 15px;
    padding: 15px 0;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
    box-sizing: border-box;
}

.button:hover{
    background-color: var(--color-2);
    cursor: pointer;
}

.display-flex.justify-content-center {
    gap: 20px;
    margin: 0 25px;
    flex-wrap: wrap;
}

/* Estilo para un solo botón */
.button-simple {
    margin: 0px 25px 40px 25px;
    width: calc(100% - 50px);
}

/* Estilo para dos botones de confirmación */
.button-confirmacion {
    flex: 1 1 0;
    margin: 0px 10px 40px 10px;
    min-width: 150px;
    max-width: 50%;
}
