body {
    min-height: 100vh;
}

.icon-message {
    margin: 40px 0px 0px 0px;
    width: 75px;
    height: 75px;
    background-size: cover;
}

.card{
    width: 500px;
    border: 2px solid #000;
    border-radius: 25px;
}

.button{
    width: 420px;
    background-color: var(--color-1);
    border-radius: 15px;
    padding: 15px 0px;
    margin: 0px 25px 40px 25px;
    text-align: center;
}

.text-button{
    padding: 15px 162px;
    color: var(--color-white);
}

.button:hover{
    background-color: var(--color-2);
    cursor: pointer;
}

